<div mat-dialog-head class="dilog-head d-flex justify-content-between">
  <h3 class="primary" *ngIf="addmode">Create Form</h3>
  <h3 class="primary" *ngIf="editmode">Edit Form</h3>
  <h3 class="primary" *ngIf="deletemode">Delete Form</h3>
  <div class="d-inline-block">
    <a class="close" (click)="closeDialog()"><i class="fi-rr-cross-small"></i></a>
  </div>
</div>
<div *ngIf="addmode || editmode">
  <form [formGroup]="addForm" (ngSubmit)="formsubmit()">
    <div mat-dialog-content>
      <div class="row mt-2">
        <div class="col-sm-5 col-2">
          <mat-form-field appearance="outline">
            <mat-label>Form Name</mat-label>
            <input matInput placeholder="Form Name" formControlName="name" required>
            <mat-error *ngIf="addForm.controls.name.hasError('required')">
              Please enter form name
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <h4>Form Information &nbsp;&nbsp;&nbsp;
        <a mat-icon-button color="primary">
          <span (click)="addItem()" title="Add filed">
            <mat-icon>add</mat-icon>
          </span>
        </a>
      </h4>
      <div formArrayName="items" *ngFor="let item of addForm.get('items').controls; let i = index;">
        <div class="row mt-2 dilog-head" [formGroupName]="i">

          <div class="col-sm-3 col-5">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Title" formControlName="formtitle">
            </mat-form-field>
          </div>
          <div class="col-sm-5 col-5">
            <mat-radio-group class="gender" formControlName="formtype">
              <div style="color:grey;">Type</div>
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="radio">Radio</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="text">Text</mat-radio-button>
              <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" value="select">Dropdown
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-sm-3 col-12">
            <mat-form-field appearance="outline">
              <mat-label>Values</mat-label>
              <input matInput placeholder="Values" formControlName="formvalue">
            </mat-form-field>
          </div>
          <div class="col-sm-1 col-2">
            <a mat-icon-button color="primary">
              <span (click)="removetem(i)" title="Add filed">
                <mat-icon>remove</mat-icon>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-sec" mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary" class="Update-btn">Save</button>
    </div>
  </form>
</div>
<div *ngIf="deletemode">
  <h4>
    Are you sure to delete this ?
  </h4>
  <div class="btn-sec">
    <button mat-raised-button type="button" color="primary" class="Update-btn"
      (click)="deleteData(adminid)">Delete</button>
    &nbsp;
    <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
  </div>
</div>