
<div class="row charts">
    <div class="col-sm-6 col-12 mt-3">
        <div class="card-ana">
            <div class="card-ana-head">
                <div>
                    <p class="">Call Traffic Report</p>
                </div>
            </div>
           
            <div class="card-ana-body" >
                <div style="display: block">
                    <canvas baseChart [chartType]="chartTypetraffic" [datasets]="chartDatasetstraffic" [labels]="chartLabelstraffic"
                        [colors]="chartColorstraffic" [options]="chartOptionstraffic" [legend]="true"
                        (chartHover)="chartHoveredtraffic($event)" (chartClick)="chartClickedtraffic($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12 mt-3">
        <div class="card-ana">
            <div class="card-ana-head">
                <div>
                    <p class="">Hourly Calls</p>
                </div>
            </div>
          
            <div class="card-ana-body" >
                <div style="display: block">
                    <canvas baseChart [chartType]="chartTypehourly" [datasets]="chartDatasetshourly" [labels]="chartLabelshourly"
                        [colors]="chartColorshourly" [options]="chartOptionshourly" [legend]="true"
                        (chartHover)="chartHoveredhourly($event)" (chartClick)="chartClickedhourly($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
   <div class="col-sm-6 col-12 mt-3">
        <div class="card-ana">
            <div class="card-ana-head d-flex">
                <div class="flex-fill">
                    <p class="">Sales Funnel</p>
                </div>
            </div>
         
            <div class="card-ana-body" >
                <div style="display: block">
                    <canvas baseChart [chartType]="chartTypeFunnel" [datasets]="chartDatasetsFunnel" [labels]="chartLabelsFunnel"
                        [colors]="chartColorsFunnel" [options]="chartOptionsFunnel" [legend]="true"
                        (chartHover)="chartHoveredFunnel($event)" (chartClick)="chartClickedFunnel($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
   <!--   <div class="col-sm-6 col-12 mt-3" *ngIf="lms">
        <div class="card-ana">
            <div class="card-ana-head d-flex">
                <div class="flex-fill ">
                    <p class="">Lead Source</p>
                </div>
            </div>
            

            <div class="card-ana-body">
                <div style="display: block">
                    <canvas baseChart [chartType]="chartTypeSource" [datasets]="chartDatasetsSource" [labels]="chartLabelsSource"
                        [colors]="chartColorsSource" [options]="chartOptionsSource" [legend]="true"
                        (chartHover)="chartHoveredSource($event)" (chartClick)="chartClickedSource($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid mb-3">
        <div class="call-analytics">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            Total Call
                                        </p>
                                        <label class="clr-87e0ab">{{totalcaller}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-smartphone text-large clr-87e0ab"></i></b>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            New Callers
                                        </p>
                                        <label class="clr-87e0ab">{{newcallers}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-time-forward-sixty text-large clr-e0b087"></i></b>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            OLD Callers
                                        </p>
                                        <label class="clr-87e0ab">{{oldcallers}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-time-forward-sixty text-large clr-e0b087"></i></b>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
          </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            Total Incoming Call
                                        </p>
                                        <label class="clr-87e0ab">{{totalincomingcaller}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-smartphone text-large clr-87e0ab"></i></b>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            Total Outgoing Call
                                        </p>
                                        <label class="clr-87e0ab">{{totaloutgoingcaller}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-smartphone text-large clr-87e0ab"></i></b>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                    <div class="mycard">
                        <div class="mycard-body">
                            <div class="d-flex flex-row">
                                <div class="flex-fill">
                                    <div class="name-count">
                                        <p>
                                            Total Dailer Call
                                        </p>
                                        <label class="clr-87e0ab">{{totaldailercaller}}</label>
                                    </div>
                                </div>
                                <div class="flex-row-reverse mt-4 ng-star-inserted">
                                    <b><i class="mycard-icon fi-rr-smartphone text-large clr-87e0ab"></i></b>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
             
            </div>
      </div>
    </div>
  
    
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-3">                    
        <div class="mycard">
            <div class="mycard-body">
                <h3><b>Agent Live Status</b></h3>
                <div class="d-flex flex-row">
                    
                        <div class="flex-fill">
                                <button mat-flat-button color="primary" class="bgclr-87e0ab">{{this.totalagents}}</button>
                                <!-- <label class="clr-87e0ab">{{this.totalagents}}</label> -->
                        </div>
                        <div class="flex-row-reverse ng-star-inserted">
                            <button (click)="refresh()" class="bgclr-87e0ab" mat-flat-button color="primary">
                                <mat-icon>cached</mat-icon>
                            </button>
                        </div>
                </div>
                <div class="mt-1">
                    <mat-progress-bar mode="indeterminate" *ngIf="isAgentLoading"></mat-progress-bar>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Login</th>
                                    <th>Break</th>
                                    <th>Call Hold</th>
                                    <th>On Call</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of totalagentslist;let i = index" >
                                    <td>{{i+1}}</td>
                                    <td>{{item.account_name}}</td>
                                    <td>{{item.is_loggedin | uppercase}}</td>
                                    <td>
                                        <span *ngIf="item.break==null" >
                                            NO
                                        </span>
                                        <span *ngIf="item.break!=null" >
                                            YES
                                            <!--<span *ngIf="item.break" >
                                                <b>Duration :</b> {{item.break | duration}}
                                            </span>-->
                                            <span *ngIf="item.break&&countduration(item.break)<=1800"   >
                                                <b>Duration :</b> {{item.break | duration}}                                                        
                                            </span> 
                                            <span *ngIf="item.break&&countduration(item.break)>1800"  style="color:red" >
                                                <b>Duration :</b> {{item.break | duration}}                                                        
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="item.callhold==null" >
                                            NO
                                        </span>
                                        <span *ngIf="item.callhold!=null" >
                                            YES
                                            <!--<span *ngIf="item.callhold" >
                                                <b>Duration :</b> {{item.callhold | duration}}
                                            </span>-->
                                            <span *ngIf="item.callhold&&countduration(item.callhold)>2700" style="color:red">
                                                <b>Duration :</b> {{item.callhold | duration}}
                                            </span>
                                            <span *ngIf="item.callhold&&countduration(item.callhold)<=2700" >
                                                <b>Duration :</b> {{item.callhold | duration}}
                                            </span>
                                            
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="item.cdrdata && item.cdrdata['lastdate']" >
                                            IDLE
                                            <b>Duration :</b> 
                                            <span *ngIf="item.cdrdata" > {{item.cdrdata['lastdate'] | duration}}</span>
                                            <span *ngIf="item.cdrdata==null" > Offline </span>
                                        </span>
                                        <span *ngIf="item.cdrdata &&  item.cdrdata['DID']" >
                                            <b>Type : </b> {{item.cdrdata['CallType'] | titlecase}}
                                            <b>DID :</b> {{item.cdrdata['DID']}}
                                            <b>Number :</b> {{item.cdrdata['CallerNumber']}}
                                            <b>Duration :</b> <span *ngIf="item.cdrdata['CallAnswerTime']!='0000-00-00 00:00:00'" > {{item.cdrdata['CallAnswerTime'] | duration}}</span> <span *ngIf="item.cdrdata['CallAnswerTime']=='0000-00-00 00:00:00'" > 00:00:00</span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>