.cursor-pointer
{
    cursor: pointer;
}
button:focus
{
  outline: none;
}
/* .mat-cell {
  text-align: center;
  justify-content:center;
} */

.mat-form-field
{
    width: 100%;
}

table 
{
    width: 100%;
    min-width: 1000px;
    text-align: left;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  text-align: center;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  text-align: center;
}