<div class="warap-height pt-4">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Send Mail</h1>

        <!--heading filter form-->
        <form class="mt-3" [formGroup]="searchform" (ngSubmit)="sendEmail()">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2 col-xl-2 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Mail</mat-label>
                        <mat-select formControlName="templateid" (selectionChange)="get_template($event.value)"
                            required>
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let email of mail_template" value="{{email.email_id}}">
                                {{email.email_title | titlecase}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-3 col-lg-2 col-xl-2 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Mail</mat-label>
                        <mat-select formControlName="usertype" required>
                            <mat-option value="">All</mat-option>
                            <mat-option value="curr_users">Current Users</mat-option>
                            <mat-option value="inqr_users">Inquired Users</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 col-sm-6">
                    <button mat-raised-button class="mt-2" color="primary" type="submit"
                        class="Update-btn">Send</button>&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="emailhtml">
                    <div [innerHtml]="emailhtml"></div>
                </div>
            </div>
        </form>

    </div>
    <!-- /.container-fluid -->
</div>