<div class="add-title">
  <h2 class="primary"> Call Monitor ({{type}})</h2>  
</div>
<form>
  <div class="row">             
    <div class="col-sm-12">
        <div class="text-inside">
            <input type="phone" #monitormobile placeholder="Mobile" class="form-control" formControlName="mobile" required>                                                   
        </div>
    </div>
  </div>
</form>
<div class="btn-sec">
  <br>
  <button mat-raised-button (click)="callmonitorsubmit()"  color="primary" class="btn btn-primary">Call</button>
  &nbsp;
  <button mat-raised-button color="accent"  type="button" class="btn btn-default" (click)="cancelDialog()">Cancel</button>
</div>