<div class="bg-gradient-primary bg pt-5" style="margin-left: -100px;">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="assets/img/televoice-b.png" class="sign">
              </div>
              <div class="col-lg-6">
                <div class="p-5" *ngIf="resetmode">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                    <p class="mb-4">We get it, stuff happens. Just enter your mobile no. below and we'll send you a OTP
                      to reset your password!</p>
                  </div>
                  <p *ngIf="msg!=''" style="color:red">{{msg}}</p>
                  <form class="user" [formGroup]="searchform">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter Mobile..." formControlName="mobile">
                      <mat-error *ngIf="searchform.controls.mobile.hasError('required')">
                        Please enter mobile number
                      </mat-error>
                      <mat-error *ngIf="searchform.controls.mobile.hasError('pattern')">
                        Please enter valid 10 digit mobile number
                      </mat-error>
                    </div>
                    <button class="btn btn-primary btn-user btn-block" style="background: #13aef4;
                    border: 1px solid #11abf4;" type="submit" (click)="resetPassword()">Reset
                      Password</button>&nbsp;
                  </form>
                  <hr>
                  <!-- <div class="text-center">
                        <a class="small" routerLink="/signup">Create an Account!</a>
                      </div> -->
                  <div class="text-center">
                    <a class="small" routerLink="/signin">Return to Login?</a>
                  </div>
                </div>
                <div class="p-5" *ngIf="otpmode">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
                    <p class="mb-4">Just enter your OTP below and we send you in your phone
                      to reset your password!</p>
                    <p>Username : {{username}}</p>
                  </div>
                  <p *ngIf="msg!=''" style="color:red">{{msg}}</p>
                  <form class="user" [formGroup]="otpform">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter OTP..." formControlName="otp">
                      <mat-error *ngIf="otpform.controls.otp.hasError('required')">
                        Please enter OTP
                      </mat-error>
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit" (click)="checkOTP()">Reset
                      Password</button>&nbsp;
                  </form>
                  <hr>
                  <!-- <div class="text-center">
                        <a class="small" routerLink="/signup">Create an Account!</a>
                      </div> -->
                  <div class="text-center">
                    <a class="small" routerLink="/signin">Return to Login?</a>
                  </div>
                </div>

                <div class="p-5" *ngIf="passwordmode">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Change Password?</h1>
                    <p>Username : {{username}}</p>
                  </div>
                  <p *ngIf="msg!=''" style="color:red">{{msg}}</p>
                  <form class="user" [formGroup]="passwordform">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter your New Password..."
                        formControlName="password">
                      <mat-error *ngIf="passwordform.controls.password.hasError('required')">
                        Please enter new password
                      </mat-error>
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit" (click)="changePassword()">Change
                      Password</button>&nbsp;
                  </form>
                  <hr>
                  <!-- <div class="text-center">
                        <a class="small" routerLink="/signup">Create an Account!</a>
                      </div> -->
                  <div class="text-center">
                    <a class="small" routerLink="/signin">Return to Login?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>