<div class="warap-height pt-4">
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
      <button routerLink="/settings" mat-icon-button title="Back" color="accent"
        aria-label="Example icon button with a menu icon">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      Whatsapp Template
    </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <div class="card-body">
        <!-- <button mat-raised-button color="accent" (click)="Createdialog()" title="Add">Add Email</button> -->
        <button mat-raised-button class="ml-2" color="primary" routerLink="/create-whatsapp-template" title="Add">Create
          Whatsapp
          Template</button>

        <div class="table-responsive mt-2">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">

              <mat-header-cell *matHeaderCellDef>Sr. No</mat-header-cell>

              <mat-cell class="description-cell" *matCellDef="let row;let i = index;" data-label="id">
                {{i+1+(paginator.pageIndex * paginator.pageSize)}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="email_title">

              <mat-header-cell *matHeaderCellDef>Title </mat-header-cell>

              <mat-cell class="description-cell" *matCellDef="let row">{{row.wtemp_title}}
              </mat-cell>

            </ng-container>

            <ng-container matColumnDef="action">

              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

              <mat-cell class="description-cell" *matCellDef="let row">
                <!--<button (click)="DuplicateTemplate(row.wtemp_id)" title="copy_template" mat-icon-button color="primary"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>file_copy</mat-icon>
                  </button>-->
                <button routerLink="/create-whatsapp-template/{{row.wtemp_id}}" title="Edit" mat-icon-button
                  color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteData(row.wtemp_id)" title="Delete"
                  aria-label="Example icon button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

          </mat-table>


        </div>

        <mat-paginator #paginator [length]="Length" [pageSize]="50" [pageSizeOptions]="[50,100,500]"></mat-paginator>

      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>