<div>
    <div class="add-title">
        <h2 class="primary" *ngIf="addmode">Add Package</h2>
        <h2 class="primary" *ngIf="editmode">Edit Package</h2>
        <h2 class="primary" *ngIf="deletemode">Delete Package</h2>
    </div>
    <div *ngIf="addmode || editmode">
        <form [formGroup]="addForm" (ngSubmit)="submit()">
            <mat-grid-list [cols]="2" rowHeight="100px">
                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input matInput placeholder="Package Name" formControlName="name" required>
                            <mat-error *ngIf="addForm.controls.name.hasError('required')">
                                Please enter package name
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>                

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input type="number" matInput placeholder="Meet Rate" formControlName="rate" required >
                            <mat-error *ngIf="addForm.controls.rate.hasError('required')">
                                Please enter meet rate
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input type="number" matInput placeholder="Max User No" formControlName="maxuser" required>
                            <mat-error *ngIf="addForm.controls.maxuser.hasError('required')">
                                Please enter max user no
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>


                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input type="number" matInput placeholder="Meet Value" formControlName="value" required >
                            <mat-error *ngIf="addForm.controls.value.hasError('required')">
                                Please enter meet value
                            </mat-error>                           
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-form-field>
                            <input type="number" matInput placeholder="Meet GB" formControlName="gb" >
                            
                        </mat-form-field>
                    </div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="text-inside">
                        <mat-radio-group formControlName="validity">
                            <div style="color:grey;">Validity</div>
                            <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" [value]="0">Monthly
                            </mat-radio-button>
                            <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" [value]="2">Quarterly
                            </mat-radio-button><br>
                            <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" [value]="3">Half Yearly
                            </mat-radio-button>
                            <mat-radio-button color="primary" style="padding:4px 0px 0px 24px;" [value]="1">Yearly
                            </mat-radio-button>
                        </mat-radio-group>  
                        <mat-error *ngIf="addForm.controls.validity.hasError('required')">
                            Please select package validity
                        </mat-error>          
                    </div>
                </mat-grid-tile>
                
            </mat-grid-list><br>
            <div class="btn-sec">
                <button mat-raised-button type="submit" color="primary" class="Update-btn">Save</button>
                &nbsp;
                <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
            </div>

        </form>
    </div>

    <div *ngIf="deletemode">
        <h4>
            Are you sure to delete this ?
        </h4>
        <div class="btn-sec">
            <button mat-raised-button type="button" color="primary" class="Update-btn"
                (click)="deleteData(adminid)">Delete</button>
            &nbsp;
            <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
        </div>
    </div>
</div>