button:focus
{
  outline: none !important;
}



table 
{
    width: 100%;
    min-width: 500px;
}
.button {
  background-color: #4c66af; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: #dbdfeb; /* Green */
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}