<div style="margin-left:-80px">
    <div class="header none-descktop">
        <div class="text-center">
            <div class="text-center">
                <a mat-flat-button class="ml-3 mt-1 sm-mob-block sign-btn" routerLink="/signup">Signup</a>
                <a mat-flat-button class="ml-3 mt-1 sm-mob-block sign-btn" color="primary" routerLink="/signin">Signin</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="d-flex">
                <div class="logo flex-fill">
                    <img src="assets/img/b-logo.png">
                </div>
                <div class="flex-row-reverse">
                    <div class="d-flex">
                        <button mat-flat-button class="ml-3 mt-1 sm-mob-none" routerLink="/signup">Signup</button>
                        <button mat-flat-button class="ml-3 mt-1 sm-mob-none" color="primary" routerLink="/signin">Signin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-6">
                    <div class="banner-text">
                        <h4>From lead generation to customer support</h4>
                        <p>Customer Engagement redefined by CloudX CRM platform powered by AI </p>
                        <form class="subscribe-form">
                            <div class="position-relative">
                                <!-- <input type="text" class="subscribe" placeholder="info@yourdomain.com">
                                <button type="submit" class="subscribe-btn">Subscribe</button> -->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner-img">
                        <!-- <img src=" assets/images/hero_img.png"> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="bottom-img-absolute">
            <img src="assets/images/hero-bg-shape-1.svg" alt="wave shape" class="img-fluid">
        </div> -->
    </div>
    <div class="our-services">
        <div class="container position-relative">
            <div class="landing-head landing-head-left">
                <h3>Products</h3>
                <p>Redefining The Digital Customer Engagement</p>
            </div>
            
            <div class="mt-4">
                <ul class="nav nav-tabs services-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">IVR calling</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Chat Boat </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Email & SMS Campaign</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#Analytics" type="button" role="tab" aria-controls="contact" aria-selected="false">Analytics</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row ivr-tab-inner align-items-center">
                            <div class="col-sm-6">
                                <div class="ivr-tab-inner-text">
                                    <h4>Conversational IVR with <br>AI designed for Enterprise.</h4>
                                    <p>Allow clients to naturally converse with your company. By using hybrid Conversational IVR and Voice bots, provide intuitive and excellent customer service.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/img/ivr.webp">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row ivr-tab-inner align-items-center">
                            <div class="col-sm-6">
                                <div class="ivr-tab-inner-text">
                                    <h4>Conversational AI Platform Built<br>
                                        for Business.</h4>
                                    <p>Robust enterprise-grade Conversational AI platform to help build smart chatbots and drive deeper engagement with CUI-enabled digital touchpoints.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/img/boat.png">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row ivr-tab-inner align-items-center">
                            <div class="col-sm-6">
                                <div class="ivr-tab-inner-text">
                                    <h4>Conversational IVR with <br>AI designed for Enterprise.</h4>
                                    <p>Allow clients to naturally converse with your company. By using hybrid Conversational IVR and Voice bots, provide intuitive and excellent customer service.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/img/ivr.webp">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Analytics" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row ivr-tab-inner align-items-center">
                            <div class="col-sm-6">
                                <div class="ivr-tab-inner-text">
                                    <h4>Conversational IVR with <br>AI designed for Enterprise.</h4>
                                    <p>Allow clients to naturally converse with your company. By using hybrid Conversational IVR and Voice bots, provide intuitive and excellent customer service.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/img/ivr.webp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-plateform">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-plateform-img">
                        <img src="assets/images/pc.png">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-plateform-data">
                        <h3>The easiest way to manage your calling on TeleVoice</h3>
                        <p>
                            Schedule unlimited call, manage leads, and create custom-reports to analyze your calls with TeleVoice.
                        </p>
                        <!-- <div class="op-social-media">
                            <div class="op-media-box hvr-bounce-out">
                                <img src="assets/images/icon/3.png">
                            </div>
                            <div class="op-media-box hvr-bounce-out">
                                <img src="assets/images/icon/4.png">
                            </div>
                            <div class="op-media-box hvr-bounce-out">
                                <img src="assets/images/icon/2.png">
                            </div>
                            <div class="op-media-box hvr-bounce-out">
                                <img src="assets/images/icon/5.png">
                            </div>
                            <div class="op-media-box hvr-bounce-out">
                                <img src="assets/images/icon/1.png">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Pricing">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="landing-head-fff">
                        <h3>Affordable Pricing and Packages Choose your Best One</h3>
                        <p>Distinctively brand cutting-edge imperatives through synergistic infrastructures customize low-risk high-yield processes rather than user friendly.</p>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 mt-3">
                    <div class="Pricing-box">
                        <div class="Pricing-box-head">
                            Plane A
                        </div>
                        <div class="Pricing-box-body">
                            <h2 class="amount mb-3 mt-1"><i aria-hidden="true" class="fa fa-inr"></i> 2800/- </h2>
                            <p>(Per Chennel)</p>
                            <p>One Month</p>
                        </div>
                        <div class="Pricing-box-footer">
                            Buy
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 mt-3">
                    <div class="Pricing-box">
                        <div class="Pricing-box-head">
                            Plane B
                        </div>
                        <div class="Pricing-box-body">
                            <h2 class="amount mb-3 mt-1"><i aria-hidden="true" class="fa fa-inr"></i> 2800/- </h2>
                            <p>(Per Chennel)</p>
                            <p>One Month</p>
                        </div>
                        <div class="Pricing-box-footer">
                            Buy
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 mt-3">
                    <div class="Pricing-box">
                        <div class="Pricing-box-head">
                            Plane C
                        </div>
                        <div class="Pricing-box-body">
                            <h2 class="amount mb-3 mt-1"><i aria-hidden="true" class="fa fa-inr"></i> 2800/- </h2>
                            <p>(Per Chennel)</p>
                            <p>One Month</p>
                        </div>
                        <div class="Pricing-box-footer">
                            Buy
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12 mt-3">
                    <div class="Pricing-box">
                        <div class="Pricing-box-head">
                            Plane D
                        </div>
                        <div class="Pricing-box-body">
                            <h2 class="amount mb-3 mt-1"><i aria-hidden="true" class="fa fa-inr"></i> 2800/- </h2>
                            <p>(Per Chennel)</p>
                            <p>One Month</p>
                        </div>
                        <div class="Pricing-box-footer">
                           Buy
                        </div>
                    </div>
                </div> -->
           
                <!--New Plane Design -->

                <div class="col-xl-4 col-sm-6 col-12 mt-3">
                    <div class="plans-main free">
                        <div class="plans-head">
                            <h2>Minute</h2>
                            <p>Getting started with Unlimited Calling</p>
                        </div>
                        <div class="plan-ammount">
                            <div class="display-block text-center">
                                <span class="money">₹1 </span>/min
                                <p class="mt-4">
                                    + GST
                                </p>
                            </div>
                        </div>
                        <div class="plan-signup">
                            <button><a href=" sign-up"> Sign Up </a></button>
                        </div>
                        <div class="plan-data">
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Minimum Minute start form 500</p>
                                <p><span><i class="fas fa-check"></i></span> Incomming</p>
                                <p><span><i class="fas fa-check"></i></span> Outgoing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mt-3">
                    <div class="plans-main Lite">
                        <div class="plans-head">
                            <h2>Basic</h2>
                            <p>Perfect for new marketers</p>
                        </div>
                        <div class="plan-ammount">
                            <div class="display-block text-center">
                                <span class="money">₹1299</span>/month
                                <p class="mt-4">
                                    + GST
                                </p>
                                <!-- <div>
                                    <mat-slider aria-label="unit(s)"></mat-slider>
                                </div>
                                <div class="row range-data">
                                    <div class="col-6 text-left">
                                        <span class="">5</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="">15+</span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p>1 Channels</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="plan-signup">
                            <button><a href=" sign-up"> Sign Up </a></button>
                        </div>
                        <div class="plan-data">
                            <!-- <div class="pd-line">
                                <p><b>Everything in Free, and:</b></p>
                            </div> -->
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Incomming</p>
                            </div>
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Unlimited call</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mt-3">
                    <div class="plans-main Premium">
                        <div class="plans-head">
                            <h2>Pro</h2>
                            <p>Best solution for marketing pros</p>
                        </div>
                        <div class="plan-ammount">
                            <div class="display-block text-center">
                                <span class="money">₹1599</span>/month
                                <p class="mt-4">
                                    + GST
                                </p>
                                <!--<div>
                                    <mat-slider aria-label="unit(s)"></mat-slider>
                                </div>
                                <div class="row range-data">
                                    <div class="col-6 text-left">
                                        <span class="">16 </span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="">20+</span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p>More Channels</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="plan-signup">
                            <button><a href=" sign-up"> Sign Up </a></button>
                        </div>
                        <div class="plan-data">
                            <!-- <div class="pd-line">
                                <p><b>Everything in Lite+, and:</b></p>
                            </div> -->
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Incoming and manual outgoing</p>
                            </div>
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Unlimited call</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-xl-2 col-xl-4 col-sm-6 col-12 mt-3">
                    <div class="plans-main Premium" style="background: #f7ffee;">
                        <div class="plans-head">
                            <h2 style="color: #8bc34a;">Advanced</h2>
                            <p>Best solution for marketing pros</p>
                        </div>
                        <div class="plan-ammount">
                            <div class="display-block text-center">
                                <span class="money">₹2000</span>/month
                                <p class="mt-4">
                                    + GST
                                </p>
                                <!--<div>
                                    <mat-slider aria-label="unit(s)"></mat-slider>
                                </div>
                                <div class="row range-data">
                                    <div class="col-6 text-left">
                                        <span class="">16 </span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="">20+</span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p>More Channels</p>
                                </div> -->
                            </div>
                        </div>
                        <div class="plan-signup">
                            <button style="background-color: #8bc34a;"><a href=" sign-up"> Sign Up </a></button>
                        </div>
                        <div class="plan-data">
                            <!-- <div class="pd-line">
                                <p><b>Everything in Lite+, and:</b></p>
                            </div> -->
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Incoming and auto outgoing plan</p>
                            </div>
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Unlimited call</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 col-12 mt-3">
                    <div class="plans-main Enterprise">
                        <div class="plans-head">
                            <h2>Enterprise</h2>
                            <p>For marketers who need more</p>
                        </div>
                        <div class="plan-ammount">
                            <div class="display-block text-center">
                                <h3 class="mt-4"><b>Have more <br>advanced needs?</b></h3>
                            </div>
                        </div>
                        <div class="plan-signup">
                            <button (click)="openDialog()">Get Quote</button>
                        </div>
                        <div class="plan-data">
                            <!-- <div class="pd-line">
                                <p><b>Everything in Premium, and:</b></p>
                            </div>
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Groups and apps</p>
                            </div> -->
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Dynamic plans as per your requirements</p>
                            </div>
                            <div class="pd-line">
                                <p><span><i class="fas fa-check"></i></span> Unlimited call</p>
                            </div>
                          
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="whats-special">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-text">
                        <span>1800</span>
                        <h3>Get added as 1800 in directories!</h3>
                        <p>
                            Connect with cloudX and get access to toll-free Read More..
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-img">
                        <img src="assets/images/11.png" style="width: 80%;">
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-img">
                        <img src="assets/images/clicktocall.png" width="60%" style="width: 60%;">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-text">
                        <span>Call</span>
                        <h3>Click to Call</h3>
                        <p>
                            Empower prospects to request a call back I instantly and increase ROI by 143%
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-text">
                        <span>1800</span>
                        <h3>Virtual Number</h3>
                        <p>
                            Redeem services of virtual numbers. Virtual numbers will help you to link Read More..
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-img">
                        <img src="assets/images/vcall.png" style="width: 60%;">
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center mt-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-img">
                        <img src="assets/images/outbound.svg" style="width: 80%;">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="whats-special-text">
                        <span>Call</span>
                        <h3>Outbond Calling</h3>
                        <p>
                            We create a platform form of outbound call centres. Reach your customers and Read More..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-subscribe">
        <div class="container">
            <div class="landing-head">
                <h3>Get The Latest From cloudX</h3>
                <p>Receive news, announcements, and reports</p>
            </div>
            <form class="mt-4" [formGroup]="requestForm" (ngSubmit)="requestdemo()">
                <div class="row">
                    <div class="col-sm-6">
                            <input placeholder="Name" formControlName="name"  class="fs-input" required>
                       </div>
                    <div class="col-sm-6">
                            <input placeholder="mobile" formControlName="mobile"  class="fs-input" required>
                     </div>
                    <div class="col-sm-12">

                        <input type="email" placeholder="Enter Mail Address"   formControlName="email" class="fs-input" required>

                    </div>
                    <div class="col-sm-12">

                        <input  placeholder="Reason of contact"   formControlName="intrest" class="fs-input" required>

                    </div>
                    <div class="col-sm-12">
                        <div class="text-center">
                            <button class="fsSubscribe-btn">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- footer part End -->
    <div class="footer1">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>© Copyright 2020 <a href="https://www.garudaadv.com/" style="text-decoration: none; color: #fff;">Garuda Advertising Pvt. Ltd.</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="social_media text-xs-center">
                        <ul class="social_media_ul">
                        <li class="social_media_li"><a href="https://www.linkedin.com/company/cloudX-in" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li class="social_media_li"><a href="https://www.facebook.com/cloudX.in/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <!-- <li class="social_media_li"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
                        <!-- <li class="social_media_li"><a href="#"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a></li> -->
                        <li class="social_media_li"><a href="https://www.instagram.com/cloudX.in/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <!-- <li class="social_media_li"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>