/**********************m-channels-and-list*************************/
.m-channels-and-list
{
    height: calc(100vh - 62px);
    overflow: hidden;
    border: 1px solid #d9dcdc;
    background-color: #fff;   
}
.table-thumnail
{
    position: relative;
}
.table-thum-channel-img
{
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50px;
    line-height: 36px;
    border:1px solid #ccc;
}
.table-channel-name
{
    margin-left: 8px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 500;
}
.tablesocial-img
{
    position: absolute;
    width: 20px;
    bottom: -4px;
    right: -4px;
}
.channels-friens-list-box
{
    background-color: #f5f9fd;
    padding-bottom: 1px;
}
.cflb-search-box
{
    position: relative;
    padding: 6px 10px 6px 10px;
    background: #f7fafb;
    border-bottom: 1px solid #d9dcdc
}
.cflb-search-box span
{
    position: absolute;
    left: 20px;
    top: 12px;
}
.search-box-input
{
    height: auto;
    padding: 5px 10px 5px 39px;
    font-size: 14px;
    border-radius: 50px;
    width: 100%;
    border: none;
}
.search-box-input:focus
{
    outline: none;
}
.cflb-list-box
{
    /* padding: 6px 0px 6px 0px; */
    margin: 8px;
    background-color: #ebf0f6;
    border-radius: 10px;
    overflow: hidden;
}
.cflb-list-box-height
{
    overflow-y: scroll;
    max-height: calc( (100vh - 62px) - 112px );
}
.cflb-list-item
{
    display: flow-root;
    /* margin-top: 4px; */
    padding: 6px 6px 6px 6px;
    cursor: pointer;
    border-bottom: 1px solid #e0e8f1;
}
.cflb-list-item:last-child
{
    border-bottom: none;
}
.cflb-list-item:hover
{
    background-color: rgb(255, 255, 255);
}
.cflb-list-item-profile
{
    float: left;
}
.cflb-list-item-profile img
{
   /*width: 40px;
    height: 40px;
    */
    border-radius: 50px;
    padding: 1px;
    /*border:1px solid #ccc;*/
}
.cflb-list-item-namentime
{
    width: calc(100% - 40px);
    padding-left: 6px;
    float: left;
    padding-top: 1px;
}
.cflb-li-name
{
    margin: 0px;
}
.cflb-li-name .name
{
    font-size: 12px;
    color: #505050;
    font-weight: bold;
    margin-top: 2px;
}
.cflb-li-name .time
{
    font-size: 10px;
    margin-top: 4px;
}
.cflb-msg-text
{
    font-size: 11px;
    margin-top: -2px;
    margin: 0;
}
/* width */
.cflb-list-box-height::-webkit-scrollbar 
{
    width: 4px;
}

/* Track */
.cflb-list-box-height::-webkit-scrollbar-track 
{
    background: #ebf0f6;
}

/* Handle */
.cflb-list-box-height::-webkit-scrollbar-thumb 
{
    background: #888;
}

/* Handle on hover */
.cflb-list-box-height::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}
/*********************m-chat-area**************************/
.m-chat-area
{
    height: calc(100vh - 62px);
    overflow: hidden;
    border: 1px solid #d9dcdc;
    position: relative;
}
.mca-chat-with
{
    vertical-align: middle;
    background: #fff;
    padding: 6px 10px 6px 10px;
}
.mca-chat-with p
{
    margin: 0px;
    font-family: 'Raleway-Regular';
    font-weight: bold;
    font-size: 16px;
    color: #505050;
    padding: 6px 0;
}
.mca-sent-box
{
    position: absolute;
    bottom: 0px;
    vertical-align: middle;
    background: #fff;
    padding: 6px 10px 6px 10px;
    width: 100%;
}
.textarea-with
{
    width: calc(100% - 114px);
    margin-right: 6px;
}
.mca-chat-textbox  textarea
{
    width: 100%;
    margin-right: 6px;
    border-radius: 30px;
    border: 1px solid #858796;
    margin-top: 0px;
    height: 100%;
    font-size: 12px;
    padding: 6px 12px 6px 12px;
}
.mca-chat-textbox  textarea:focus
{
    outline: none;
}
.mca-chat-icon
{
    cursor: pointer;
}
i.material-icons 
{
    vertical-align: middle !important;
    margin: 8px 6px !important;
    font-size: 24px !important;
    cursor: pointer;
}
.mca-chat-icon input[type="file"]
{
    display: none;
}
.mca-chat-conversation-area
{
    background-image: url(../../../../assets/images/chatbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mca-chat-conversation
{
    overflow-y: scroll;
    height: calc( (100vh - 62px) - 102px );
}
.mca-chat-conversation ul
{
    padding: 16px 8%;
    margin: 0;
}
.mca-chat-conversation ul li
{
    padding: 0;
    margin: 6px 0;
    list-style-type: none;
}
.msg
{
    display: flex;
}
#sent
{
    justify-content: flex-end;
}
#receive
{
    
}
#sent .message-text
{
    padding: 10px 14px 10px 14px;
    background: #fff;
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
    font-size: 12px;
    border: 1px solid #fff;
}
#receive .message-text
{
    padding: 10px 14px 10px 14px;
    background: #f7fafb;
    border-radius: 15px 15px 15px 0;
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
    font-size: 12px;
    border: 1px solid #ccc;
}
#sent .message-text img
{
    border-radius: 15px 15px 0 15px;
    margin: -11px -15px -11px -15px;
}
#receive .message-text img
{
    border-radius: 15px 15px 15px 0;
    margin: -11px -15px -11px -15px;
}
/****************************m-lead-area******************************/
.m-lead-area
{
    height: calc(100vh - 62px);
    overflow: hidden;
    border: 1px solid #d9dcdc;
    background-color: #fff; 
}
.mla-tab-head
{
    margin: 0px;
    font-family: 'Raleway-Regular';
    font-weight: bold;
    font-size: 14px;
    color: #505050;
    padding: 6px 0;
}
.mla-icon
{
    font-size: 16px;
    line-height: 20px;
}
.mla-connaction-info
{

}
.mla-cf-profile
{
    background: #f7fafb;
    margin: 6px;
    padding: 6px;
    font-size: 12px;
    color: #505050;
    border-radius: 10px;
    font-weight: bold;
    vertical-align: middle;
}
.mla-cf-profile img
{
    width: 35px;
    border-radius: 30px;
    height: 35px;
    overflow: hidden;
}
.mla-cf-edit-profile
{
    padding: 0px 20px 10px 20px;
    max-height: calc( (100vh - 62px) - 138px );
    overflow-y: scroll;
}
/* width */
.mla-cf-edit-profile::-webkit-scrollbar 
{
    width: 4px;
}

/* Track */
.mla-cf-edit-profile::-webkit-scrollbar-track 
{
    background: #fff;
}

/* Handle */
.mla-cf-edit-profile::-webkit-scrollbar-thumb 
{
    background: #888;
}

/* Handle on hover */
.mla-cf-edit-profile::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}
.mla-cf-edit-profile h5
{ 
    margin: 0px;
    font-family: 'Raleway-Regular';
    font-weight: bold;
    font-size: 14px;
    color: #505050;
    padding: 10px 2px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;   
}
.mla-cf-edit-profile form
{ 
    position: relative;
}
.mat-form-field 
{
    width: 100%;
}
.mla-cf-btn
{
    font-size: 12px;
    height: 30px;
    padding: 0 0 0 0;
    line-height: 12px;
}
.table-thumnail
{
    position: relative;
}
.table-thum-channel-img
{
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50px;
    line-height: 36px;
    border:1px solid #ccc;
}
.tablesocial-img{
  height: 23px;
  width: 24px;
}

::ng-deep .mat-tab-label
{
    min-width: 85px !important;
    padding: 0 0px !important;
}