<div class="warap-height pt-4">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Call Feedback</h1>

        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 mt-3" *ngFor="let lead of stage; let i = index">
                <div class="mycard">
                    <div class="mycard-body">
                        <div class="d-flex flex-row">
                            <div class="flex-fill ellipsis">
                                <div class="name-count">
                                    <p class="ellipsis" title="{{lead.call_status}}" style="width: 90%;">
                                        {{lead.call_status}}
                                    </p>
                                    <label>{{lead.cnt}}</label>
                                </div>
                            </div>
                            <div class="flex-row-reverse ng-star-inserted">
                                <a><i class="mycard-icon fas fa-user-clock text-large text-primary"></i></a>
                            </div>
                        </div>
                        <div class="flex-row-reverse mt-3">
                            <div class="d-flex dashboard-text">
                                <i class="fi-rr-info mt-1 mr-1"></i><p class="mb-0 box-p">Number of {{lead.call_status}} </p>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading -->
       
        <form [formGroup]="searchform" (ngSubmit)="searchData()">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 col-sm-6 mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Caller Number</mat-label>
                        <input matInput placeholder="Caller Number" formControlName="callerno">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 col-sm-6 mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Feedback</mat-label>
                        <mat-select formControlName="feedback">
                            <mat-option value="">All</mat-option>
                            <mat-option  *ngFor="let feed of feedbacklist" [value]="feed.feedback">
                                {{feed.feedback}}
                            </mat-option>
            
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 col-sm-6 mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput placeholder="Start Date" [matDatepicker]="startpicker" formControlName="startdate">
                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                        <mat-datepicker #startpicker tpicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 col-sm-6 mt-2">
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput placeholder="End Date" [matDatepicker]="endpicker" formControlName="enddate">
                        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                        <mat-datepicker #endpicker tpicker></mat-datepicker>
                    </mat-form-field> 
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 col-sm-6 mt-2">
                    <!-- <button mat-raised-button type="submit" color="primary" class="Update-btn">Search</button>&nbsp; -->
                    <button mat-raised-button class="mt-1" type="submit">Search</button>&nbsp;
                    <button  class="mt-1"  title="refresh" (click)="resetform()" mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon">
                        <span class="material-icons">refresh</span>
                    </button>
                </div>
            </div>

        </form>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

            <div class="card-body">
            
                <div fxLayout fxLayoutAlign="center center" *ngIf="isCSV">
                    <button mat-raised-button color="primary"
                    (click)="exporter.exportTable('csv', {fileName:'interested-lead', sheet: 'sheet_name'})">CSV</button>
                </div>      
        
                <!--Table Data-->
                
                <div class="table-reesponsive mt-4">
                    <table mat-table matTableExporter #exporter="matTableExporter"
                        [dataSource]="interestdataSource">
                        <ng-container matColumnDef="id">
                            <mat-header-cell [ngClass]="'w-100'" *matHeaderCellDef>Sr. No</mat-header-cell>

                            <mat-cell [ngClass]="'w-100'" class="description-cell" *matCellDef="let row;let i = index;" data-label="id">
                                {{i+1+(interestpaginator.pageIndex * interestpaginator.pageSize)}}</mat-cell>

                        </ng-container>
                        <ng-container matColumnDef="calltime">

                            <mat-header-cell *matHeaderCellDef> Call Time </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallStartTime | date: 'dd-MM-yyyy H:mm:s'}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="callername">

                            <mat-header-cell *matHeaderCellDef>Caller Name </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallerName}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="callerno">

                            <mat-header-cell *matHeaderCellDef> Caller Number </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallerNumber}}

                                
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="duration">

                            <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallTalkTime}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="type">

                            <mat-header-cell *matHeaderCellDef> Call Type </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallType | titlecase}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="status">

                            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.CallStatus}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="agent">

                            <mat-header-cell *matHeaderCellDef> Agent </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.AgentName}}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="feedback">

                            <mat-header-cell *matHeaderCellDef> Feedback </mat-header-cell>
                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.feedback | titlecase}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="note">

                            <mat-header-cell *matHeaderCellDef> Note</mat-header-cell>
                            <mat-cell class="description-cell" *matCellDef="let row">
                                {{row.note | titlecase}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">

                            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

                            <mat-cell class="description-cell" *matCellDef="let row">
                                <button (click)="interestfeedbackdialog(row.id)" title="Edit" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                    <mat-icon>feedback</mat-icon>
                                </button>&nbsp;
                                <button (click)="clicktocall(row.AgentID,row.CallerNumber)" title="Edit" mat-icon-button style="color: darkcyan;" aria-label="Example icon button with a home icon">
                                    <mat-icon>local_phone</mat-icon>
                                </button>
                            </mat-cell>

                        </ng-container>

                        <mat-header-row *matHeaderRowDef="interestColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: interestColumns"></mat-row>

                    </table>
                </div>

                <mat-paginator #interestpaginator [length]="interestLength" [pageSize]="50"
                [pageSizeOptions]="[50,100,500]"></mat-paginator>
            
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>