.mycard
{
  border: initial!important;
  background: #fff!important;
  border-radius: .75rem!important;
  box-shadow: 0 1px 15px rgb(0 0 0/4%),0 1px 6px rgb(0 0 0/4%)!important;
}

.mycard-body {
  padding: 0.75rem!important;
}
.mycard-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.mycard-body .name-count p
{
  margin: 0px;
  font-size: 16px;
  margin-bottom: 10px;
}
.mycard-body .name-count label
{
  font-size: 48px;
  margin-top: 4px;
  color: #1ea4dd;
  font-weight: 400;;
}
.mycard-icon
{
  font-size: 30px !important;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 36px;
  font-style: normal;
  margin-left: 20px;
}
