<div class="warap-height pt-4">
  <!-- Begin Page Content -->
  <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Live Call</h1>
      <div class="d-flex flex-row">
        <div class="flex-fill">
  
        </div>
        <div class="flex-row-reverse ng-star-inserted">
          <button (click)="searchData()" class="bgclr-87e0ab" mat-flat-button color="primary">
            <mat-icon>cached</mat-icon>
          </button>
        </div>
      </div>
      <br>
      <!-- <form [formGroup]="searchform" (ngSubmit)="searchData()">
        <mat-form-field>
          <mat-label>DID</mat-label>
          <mat-select formControlName="did">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let arr of didarr" value="{{arr.did}}">
              {{arr.did}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <mat-label>Agent</mat-label>
          <mat-select formControlName="agentid">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let agent of agents" value="{{agent.account_id}}">
              {{agent.account_name | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <input matInput placeholder="Agent Number"  formControlName="agentno">
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <input matInput placeholder="Caller Number"  formControlName="callerno">
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <input matInput placeholder="Start Date" [matDatepicker]="startpicker" formControlName="startdate">
          <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
          <mat-datepicker #startpicker tpicker></mat-datepicker>
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <input matInput placeholder="End Date" [matDatepicker]="endpicker" formControlName="enddate">
          <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
          <mat-datepicker #endpicker tpicker></mat-datepicker>
        </mat-form-field> &nbsp;&nbsp;
    
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let status of callstatus" value="{{status.CallStatus}}">
              {{status.CallStatus}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
    
        <mat-form-field>
          <mat-label>Call Type</mat-label>
          <mat-select formControlName="calltype">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let type of calltype" value="{{type.CallType}}">
              {{type.CallType | titlecase}}</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
    
        <button mat-raised-button type="submit" color="primary" class="Update-btn">Search</button>&nbsp;
        <button mat-raised-button color="warn" class="Update-btn" (click)="resetform()">Reset</button>
    
      </form> -->
    
    
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <div class="card-body">
    
          <!--Table Data-->
          <div class="table-responsive mt-2">
            
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                  <td mat-cell *matCellDef="let row;let i = index;" data-label="id">
                    {{i+1+(paginator.pageIndex * paginator.pageSize)}}
                  </td>
              </ng-container>
          
              <!-- did Column -->
              <ng-container matColumnDef="did">
                  <th mat-header-cell *matHeaderCellDef  mat-sort-header>  DID </th>
                  <td mat-cell *matCellDef="let row">
                    {{row.DID}}
                  </td>
              </ng-container>
          
              <!-- agentname Column -->
              <ng-container matColumnDef="agentname">
                  <th mat-header-cell *matHeaderCellDef> Agent Name  </th>
                  <td mat-cell *matCellDef="let row"> 
                    {{row.AgentName}}
                  </td>
              </ng-container>
          
              <!-- agentno Column -->
              <ng-container matColumnDef="agentno">
                  <th mat-header-cell *matHeaderCellDef>Agent Number </th>
                  <td mat-cell *matCellDef="let row">
                    {{row.AgentNumber}}
                  </td>
              </ng-container>

              <!-- calltime Column -->
              <ng-container matColumnDef="calltime">
                  <th mat-header-cell *matHeaderCellDef>  Call Time </th>
                  <td mat-cell *matCellDef="let row">
                    {{row.CallStartTime | date: 'dd-MM-yyyy H:mm:s':timezone}}
                  </td>
              </ng-container>

              <!-- number Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>  Number  </th>
                <td mat-cell *matCellDef="let row">
                  {{row.CallerNumber}}
                </td>
              </ng-container>

              <!-- duration Column -->
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef>  Duration  </th>
                <td mat-cell *matCellDef="let row">
                  {{row.CallStartTime | duration}}
                </td>
              </ng-container>

              <!-- status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>  Status  </th>
                <td mat-cell *matCellDef="let row">
                  {{row.CallStatus}}
                </td>
              </ng-container>

              <!-- calltype Column -->
              <ng-container matColumnDef="calltype">
                <th mat-header-cell *matHeaderCellDef> Call Type </th>
                <td mat-cell *matCellDef="let row">
                  {{row.CallType | titlecase}}
                </td>
              </ng-container>

              <!-- recording Column -->
              <ng-container matColumnDef="recording">
                <th mat-header-cell *matHeaderCellDef> Call Monitor </th>
                <td mat-cell *matCellDef="let row">
                  <a href="javascript:void(0)">
                    <span class="material-icons" (click)="callmonitor(row.uniqueid,'listen')" title="Listen">
                        phone_in_talk
                    </span>
                  </a>
                
                  <a href="javascript:void(0)">
                      <span class="material-icons" (click)="callmonitor(row.uniqueid,'whisper')" title="Whishper">
                          call_split
                      </span>
                  </a>
                  
                  <a href="javascript:void(0)">
                    <span class="material-icons" (click)="callmonitor(row.uniqueid,'barge')" title="Barge">
                        call_merge
                    </span>
                  </a>
                  <a href="javascript:void(0)">
                    <span class="material-icons" (click)="calldisconnect(row.id)" title="Hangup">
                      call_end
                    </span>
                  </a>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
          </div>

          <mat-paginator #paginator [length]="Length" [pageSize]="50" [pageSizeOptions]="[50,100,500]"></mat-paginator>

        </div>

      </div>
    
  </div>
  <!-- /.container-fluid -->
</div>  