<div mat-dialog-head class="dilog-head d-flex justify-content-between">
    <h3 class="primary" >Conference Detail</h3>
    <div class="d-inline-block">
        <a class="close" (click)="openDialog()"><i class="fi-rr-cross-small"></i></a>
    </div>
</div>
<div mat-dialog-content>
    <div class="row mt-2">
    
        <div class="col-md-6 mt-2">
            <mat-card>Conference Name : {{name}}</mat-card>
        </div>
        <div class="col-md-6 mt-2">
            <mat-card>Conference Date : {{date | date:'dd-MM-yyyy HH:mm:ss'}}</mat-card>
        </div>
        <div class="col-md-6 mt-2">
            <mat-card>DID :  {{did}}
            </mat-card>
        </div>
        <div class="col-md-6 mt-2">
            <mat-card>Member Type : 
                {{membertype=='0'?'Agent':''}}
                {{membertype=='1'?'Contact':''}}
                {{membertype=='2'?'Custom':''}}
            </mat-card>
        </div>
        <div class="col-md-12 mt-3">
            <table class="table table-bordered" width="100%">
                <tr>
                    <th>Member Name</th>
                    <th>Contact No.</th>
                    <th>SMS</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let data of members">
                    <td>{{data.member_name}}</td>
                    <td>{{data.contact_no}}</td>
                    <td>{{data.sendsms_status}}</td>
                    <td>
                        <span *ngIf="data.callstatus==null">Waiting</span>
                        <span *ngIf="data.callstatus==0">Left</span>
                        <span *ngIf="data.callstatus==1">Joined</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>