.appointment-main
{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}
.form-field-div
{
  padding: 0px 0px 0px 0px;
  max-height: 330px;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.pagecheckbox input[type=radio]
{
  display: none;
}
.page-checkbox-alias
{
  display: inline-block;
  z-index: 1;
  position: relative;
  text-align: left;
  transition: all 250ms ease-out;
  cursor: pointer;
  background-color: #fff;
  font-family: sans-serif, Arial;
  border: 1px solid #dedede;
  border-radius: 6px;
  width: 100%;
  color: #777;
  font-weight: 500;
  overflow: hidden;
}
.page-checkbox-alias:hover
{
  background-color: #f5fdff;
  /* border: 1px dashed #007bff; */
}
.page-checkbox-alias:active
{
  background-color: #f5fdff;
  border: 1px solid #007bff;
}
.page-checkbox-alias:focus
{
  background-color: #f5fdff;
  border: 1px solid #007bff;
}

.pagecheckbox input[type=radio]:checked + .page-checkbox-alias
{
  background-color: #f5fdff;
  border-color: #000;
}
.page-checkbox-alias img
{
    width: 60%;
    margin: 0 auto;
}
.page-checkbox-alias p
{
    font-size: 10px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.page-checkbox-alias-data
{
    padding: 16px 10px 16px 14px;
    border-top: 4px solid #f0c419;
}
.page-checkbox-alias-data h4
{
    margin: 0px;
    font-weight: bold;
}
.page-checkbox-alias-data p
{
    margin: 0px;
    font-size: 12px;
    margin-bottom: 20px;
}
.page-checkbox-alias-data a
{
    margin: 0px;
    font-size: 12px;
    margin-top: 10px;
    color: darkslateblue;
}
.page-checkbox-alias-footer
{
    padding: 10px;
    border-top: 1px solid #ccc ;
    font-size: 12px;
}
.share
{
    padding: 0px;
    height: 22px;
    line-height: 22px;
    font-size: 10px;
    margin-left: 20px;
}
.Confirmed
{
  text-align: center;
}
.Confirmed h3
{
  font-size: 34px;
  font-weight: bold;
  margin-top: 8px;
}
.yellow
{
  width: 20px;
  height: 20px;
  background: darkgoldenrod;
  border-radius: 100px;
}
.c-icon
{
  font-size: 18px;
    width: 20px;
    text-align: center;
}