<div class="CallViopPopup-dial-details" *ngIf="isincomingcall">
    <div class="dial-details-name-num">
      <p class="dial-details-name">Incoming Call</p>
      <p class="dial-details-num"></p>
    </div>
    <div class="CallViopPopup-buttons">
      <button class="click-call-line" (click)="callanswer()"><i class="fa fa-phone"></i></button>
      <button class="clickdiscoonect-call" (click)="callhangup()"><i class="fa fa-phone"></i></button>
    </div>
  </div>
  <div class="screen" style="max-width: 328px;margin: 0 auto;">  
    <div class="dial-pad">
        <div class="row1">
            <div class="col-md-12">
                <form [formGroup]="dialerform">
                    <input type="tel"  id="telNumber" class="tel" value="" formControlName="number" #dialernumber/>
                </form>
                <div class="num-pad">
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                1
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                2 <span class="small">
                                    <p> ABC</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                3 <span class="small">
                                    <p>
                                        DEF</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                4 <span class="small">
                                    <p>
                                        GHI</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                5 <span class="small">
                                    <p>
                                        JKL</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                6 <span class="small">
                                    <p>
                                        MNO</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                7 <span class="small">
                                    <p>
                                        PQRS</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                8 <span class="small">
                                    <p>
                                        TUV</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                9 <span class="small">
                                    <p>
                                        WXYZ</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                *
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                0 <span class="small">
                                    <p>
                                        +</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="num">
                            <div class="txt">
                                #
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div>
                    <a class="btn callbtn btn-block flatbtn" (click)="clicktocall()">
                        <span><a><i class="fas fa-phone-alt"></i></a></span>
                    </a>
                </div>
                    
            </div>
        </div>
    </div>
</div>