<div class="warap-height pt-4">    
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Packages</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

      <div class="card-body"> 

        <button mat-raised-button color="accent" (click)="Createdialog()" title="Add">Add Package</button>

        <div class="table-responsive">
          <table mat-table class="lessons-table mat-elevation-z8" matSort [dataSource]="dataSource">

            <ng-container matColumnDef="id">
    
              <mat-header-cell *matHeaderCellDef>Sr. No</mat-header-cell>
    
              <mat-cell class="description-cell" *matCellDef="let row;let i = index;" data-label="id">
                {{i+1+(paginator.pageIndex * paginator.pageSize)}}</mat-cell>
    
            </ng-container>
            <ng-container matColumnDef="package_name">
    
              <mat-header-cell *matHeaderCellDef mat-sort-header> Package Name </mat-header-cell>
    
              <mat-cell class="description-cell" *matCellDef="let row">{{row.package_name}}
              </mat-cell>
    
            </ng-container>
    
            <ng-container matColumnDef="package_price">
    
              <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    
              <mat-cell class="description-cell" *matCellDef="let row">
                {{row.package_price}}
              </mat-cell>
    
            </ng-container>

            <ng-container matColumnDef="package_validity">
    
                <mat-header-cell *matHeaderCellDef mat-sort-header> Validity </mat-header-cell>
      
                <mat-cell class="description-cell" *matCellDef="let row">
                  {{row.package_validity=='0'?'Monthly':''}}
                  {{row.package_validity=='1'?'Yearly':''}}
                  {{row.package_validity=='2'?'Quarterly':''}}
                  {{row.package_validity=='3'?'Half Yearly':''}}
                </mat-cell>
      
              </ng-container>

              <ng-container matColumnDef="action">
    
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      
                <mat-cell class="description-cell" *matCellDef="let row">
                    <button (click)="updatedialog(row.package_id)" title="Edit" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="deleteData(row.package_id)" title="Edit" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
      
              </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
          </table>
        </div>

        <mat-paginator #paginator [length]="Length" [pageSize]="50" [pageSizeOptions]="[50,100,500]"></mat-paginator>

      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>