<div mat-dialog-head class="dilog-head d-flex justify-content-between">
    <h2 class="dialog-head-h">Schedule Date</h2>
    <div class="d-inline-block">
        <a class="close" (click)="onNoClick()"><i class="fi-rr-cross-small"></i></a>
    </div>
</div>
<form> 
    <div mat-dialog-content>
        <div class="row mb-2">
            <div class="col-sm-12 mt-2">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput type='datetime-local' [(ngModel)]='data.scheduleTime' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="btn-sec" mat-dialog-actions>
         <button mat-raised-button  color="primary" class="Update-btn"
        [disabled]='!schedBtnValidation()' (click)="schedulepost()">Schedule</button>
      
    </div>
</form>

