<div class="warap-height pt-4 pb-4">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5" *ngIf="did_routing">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-wifi-alt"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/did-routing">
                            <h5>DID Routing</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-user"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/users">
                            <h5>User</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-users"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/user-group">
                            <h5>User Group</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-file-music"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/sound-upload">
                            <h5>Sound Upload</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-headphones-alt"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/ivr-builder">
                            <h5>IVR Builder</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-cursor-finger" aria-hidden="true"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/click-to-call">
                            <h5>Click to Call</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-file"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/zoho-users">
                            <h5>Zoho Configuration</h5>
                        </div>
                    </a>
                </div>
            </div>      
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/product-grouplist">
                            <h5>Product Gropus</h5>
                        </div>
                    </a>
                </div>
            </div> -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-box-open"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/products">
                            <h5>Products</h5>
                        </div>
                    </a>
                </div>
            </div> 
                
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/feedback-forms">
                            <h5>Feedback Form</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-settings-sliders"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/settings">
                            <h5>SIP Configuration</h5>
                        </div>
                    </a>
                </div>
            </div> -->
            
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-sms"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/manager-sms-server">
                            <h5>SMS Server</h5>
                        </div>
                    </a>
                </div>
            </div>-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-paste"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/sms-template">
                            <h5>SMS Template</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/email-server">
                            <h5>Email Server</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/email-template">
                            <h5>Email Template</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/schedule-config">
                            <h5>Calender Configuration</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fab fa-leanpub"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/lead-config">
                            <h5>LMS Configuration</h5>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/lms/lms-status">
                            <h5>LMS Status</h5>
                        </div>
                    </a>
                </div>
            </div>-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-chalkboard"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/lead-stage">
                            <h5>LMS Stages</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/source-list">
                            <h5>LMS Source</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="far fa-window-restore"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/header-footer-set">
                            <h5>Header / Footer</h5>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-tools"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/access-setting">
                            <h5>Access Setting</h5>
                        </div>
                    </a>
                </div>
            </div>

            
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-paste"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/whatsapp-template">
                            <h5>Whatsapp Template</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-apps-add"></i>
                        </div>
                        <div class="detailbox-dash">
                            <h5>Lead Integration</h5>
                        </div>
                    </a>
                </div>
            </div> -->
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="far fa-file-code"></i>
                        </div>
                        <div class="detailbox-dash">
                            <h5>Web Script Generation</h5>
                        </div>
                    </a>
                </div>
            </div>-->
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-pager"></i>
                        </div>
                        <div class="detailbox-dash">
                            <h5>Landing Page</h5>
                        </div>
                    </a>
                </div>
            </div>-->
            <!--<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-print"></i>
                        </div>
                        <div class="detailbox-dash">
                            <h5>Lead Form Generation</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-robot"></i>
                        </div>
                        <div class="detailbox-dash">
                            <h5>Bot Configuration</h5>
                        </div>
                    </a>
                </div>
            </div>-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5" *ngIf="custom_api">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-robot"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/custom-api"  >
                            <h5>Custom API</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-paste"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/schedule-report"  >
                            <h5>Schedule Report</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/call-review-form"  >
                            <h5>Call Review From</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-tools"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/triggers"  >
                            <h5>Trigger</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/black-list"  >
                            <h5>Block Number</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/call-disposition"  >
                            <h5>Call Disposition</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/lead-tag"  >
                            <h5>Lead Tag</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-comment"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/chat-settings"  >
                            <h5>Chat Setting</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mt-5">
                <div class="card text-center wow fadeInUp" data-wow-delay=".1s">
                    <a>
                        <div class="imgbox-dash">
                            <i class="fi-rr-ticket"></i>
                        </div>
                        <div class="detailbox-dash" routerLink="/issue-type"  >
                            <h5>Issue Type</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
